<div id="<%= dom_id audio_post %>">
  <p>
    <strong>Name:</strong>
    <%= audio_post.Name %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= audio_post.Author_name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= audio_post.Image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= audio_post.Description %>
  </p>

</div>
