<%= form_with(model: audio_post) do |form| %>
  <% if audio_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(audio_post.errors.count, "error") %> prohibited this audio_post from being saved:</h2>

      <ul>
        <% audio_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Name, style: "display: block" %>
    <%= form.text_field :Name %>
  </div>

  <div>
    <%= form.label :Author_name, style: "display: block" %>
    <%= form.text_field :Author_name %>
  </div>

  <div>
    <%= form.label :Image, style: "display: block" %>
    <%= form.text_area :Image %>
  </div>

  <div>
    <%= form.label :Description, style: "display: block" %>
    <%= form.text_field :Description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
