<p style="color: green"><%= notice %></p>

<%= render @audio_post %>

<div>
  <%= link_to "Edit this audio post", edit_audio_post_path(@audio_post) %> |
  <%= link_to "Back to audio posts", audio_posts_path %>

  <%= button_to "Destroy this audio post", @audio_post, method: :delete %>
</div>
