<div id="<%= dom_id audio %>">
  <p>
    <strong>Name=string:</strong>
    <%= audio.name=string %>
  </p>

  <p>
    <strong>Author name=string:</strong>
    <%= audio.author_name=string %>
  </p>

  <p>
    <strong>Image=text:</strong>
    <%= audio.image=text %>
  </p>

  <p>
    <strong>Audio=file:</strong>
    <%= audio.audio=file %>
  </p>

  <p>
    <strong>Duration=float:</strong>
    <%= audio.duration=float %>
  </p>

  <p>
    <strong>Description=string:</strong>
    <%= audio.description=string %>
  </p>

</div>
