<%= form_with(model: audio) do |form| %>
  <% if audio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(audio.errors.count, "error") %> prohibited this audio from being saved:</h2>

      <ul>
        <% audio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name=string, style: "display: block" %>
    <%= form.text_field :name=string %>
  </div>

  <div>
    <%= form.label :author_name=string, style: "display: block" %>
    <%= form.text_field :author_name=string %>
  </div>

  <div>
    <%= form.label :image=text, style: "display: block" %>
    <%= form.text_field :image=text %>
  </div>

  <div>
    <%= form.label :audio=file, style: "display: block" %>
    <%= form.text_field :audio=file %>
  </div>

  <div>
    <%= form.label :duration=float, style: "display: block" %>
    <%= form.text_field :duration=float %>
  </div>

  <div>
    <%= form.label :description=string, style: "display: block" %>
    <%= form.text_field :description=string %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
