<center>
<div id="<%= dom_id artists_post %>">

  <br>
<div class="container">
  <div class="box1">
    <br>

  <img src="<%= artists_post.image %>" alt="Change your picture, it didnt worked">

  <br>
  <br>
  <p>
    <strong>Nickname:</strong>
    <%= artists_post.stage_name %>
  </p>

  <p>
    <strong></strong>
    <%= artists_post.description %>
  </p>  

  <br>

  <h3>

<div class="embed2">
    <p>
      <strong></strong>
      <%= raw artists_post.soundcloud_link %>
    </p>
  </div>

  <div class="embed1">
    <p>
      <strong></strong>
      <%= raw artists_post.spotify_link %>
    </p>
  </div>
  </div>
</div>
<br>
    <strong>Socials</strong>
  </h3>
  <p>
  <a href="<%= artists_post.instagram_link %>">Instagram</a>
  </p>

  <p>
    <strong></strong>
    <a href="<%= artists_post.twitter_link %>">Twitter</a>
  </p>
</div>
<br>
<br>
<br>
</center>

<style>

  .box1{
    border-style: solid;
    }
  .embed1{
    margin-left: 20px;
    margin-right: 20px;
  }
  .embed2{
    margin-left: 20px;
    margin-right: 20px;
  }
  img{
    max-width: 400px;
  }
</style>