<div id="<%= dom_id artists_post %>">



  <img src="<%= artists_post.image %>" alt="Did not worked">

  <p>
    <strong>First name:</strong>
    <%= artists_post.first_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= artists_post.name %>
  </p>

  <p>
    <strong>Stage name:</strong>
    <%= artists_post.stage_name %>
  </p>

  <p>
    <strong>Soundcloud link:</strong>
    <%= artists_post.soundcloud_link %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artists_post.description %>
  </p>

  <p>
    <strong>Instagram link:</strong>
    <%= artists_post.instagram_link %>
  </p>

  <p>
    <strong>Spotify link:</strong>
    <%= artists_post.spotify_link %>
  </p>

  <p>
    <strong>Twitter link:</strong>
    <%= artists_post.twitter_link %>
  </p>

</div>