<center>
<div id="<%= dom_id artists_post %>">

  <br>

  <img src="<%= artists_post.image %>" alt="Change your picture, it didnt worked">

  <br>
  <br>
  <frame>
    <p>
      <strong>Nickname:</strong>
      <%= artists_post.stage_name %>
    </p>
  </frame>

  <p>
    <strong></strong>
    <%= artists_post.description %>
  </p>  

  <p>
    <strong></strong>
    <%= raw artists_post.soundcloud_link %>
  </p>

  <p>
    <strong></strong>
    <%= raw artists_post.spotify_link %>
  </p>

  <h2>
    <strong>Socials</strong>
  </h2>

  <p>
  <a href="<%= artists_post.instagram_link %>">Instagram</a>
  </p>

  <p>
    <strong></strong>
    <a href="<%= artists_post.twitter_link %>">Twitter</a>
  </p>

</div>
</center>