<div id="<%= dom_id artist_post %>">
  <p>
    <strong>Image:</strong>
    <%= artist_post.image %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= artist_post.first_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= artist_post.name %>
  </p>

  <p>
    <strong>Stage name:</strong>
    <%= artist_post.stage_name %>
  </p>

  <p>
    <strong>Soundcloud link:</strong>
    <%= artist_post.soundcloud_link %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artist_post.description %>
  </p>

  <p>
    <strong>Instagram link:</strong>
    <%= artist_post.instagram_link %>
  </p>

  <p>
    <strong>Spotify link:</strong>
    <%= artist_post.spotify_link %>
  </p>

  <p>
    <strong>Twitter link:</strong>
    <%= artist_post.twitter_link %>
  </p>

</div>
