<p style="color: green"><%= notice %></p>

<%= render @artist_post %>

<div>
  <%= link_to "Edit this artist post", edit_artist_post_path(@artist_post) %> |
  <%= link_to "Back to artist posts", artist_posts_path %>

  <%= button_to "Destroy this artist post", @artist_post, method: :delete %>
</div>
