<div id="<%= dom_id post %>">
  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= post.author_name %>
  </p>

  <p>
    <strong>Image:</strong>
    
  </p>

  <img src="<%= post.image %>">

  <p>
    <strong>Duration:</strong>
    <%= post.duration %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

</div>
